# Core libraries
torch==2.7.0
transformers==4.52.3
sentence-transformers==4.1.0
peft==0.10.0

# ML & preprocessing
scikit-learn==1.6.1
numpy==2.2.6
pandas==2.2.3

# Utility
tqdm==4.67.1
python-dateutil>=2.8.2
requests==2.32.3
pyyaml>=5.1
typing_extensions>=4.5.0

# Logging
wandb==0.16.6